.login-page, .register-page, .profile-page {
  background-image: url('../assets/calendarbanner5.png');
  background-size: cover;
  background-position: center;
}
.box-area {
  width: 900px;
}
.verify-page {
  background-color: #ececec;
}
.box-area-verify {
  width: 900px;
  height: 500px;
}
.left-content {
  background-image: url('https://thumbs.dreamstime.com/b/calendar-deadline-event-reminder-notification-schedule-appointment-important-date-concept-vector-illustration-stock-158781882.jpg');
  background-size: cover;
  background-position: center;
}
.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-picture img {
width: 13rem;
height: 13rem;
border-radius: 50%;
object-fit: cover;
margin-bottom: 1rem;
}
.right-box {
  padding: 12px 30px 44px 40px;
}
.right-box-register {
  padding: 0px 30px 0px 40px;
}
::placeholder {
  font-size: 16px;
}
.profile-button {
  margin: 10px 10px 10px 10px;
}
.profile-icon {
  font-size: 25px;
}
.profile-button:hover {
  background-color: #f0f0f0;
}
@media only screen and (max-width: 760px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
