.my-dropdown {
    margin-left: auto;
}.dropdown-time {
    margin-left: auto;
}
.my-dropdown .img:hover,
.my-dropdown .img:focus {
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
}
.my-dropdown .btn-basic {
    color: transparent;
    border: none;
}
.my-dropdown .img {
    width: 2.5rem;
    height: 2.5rem;
}
aside .create:hover {
    background-color: #dedcdc65;
    color: rgba(0, 0, 0, 0.758);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
aside .create {
    box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.2);
}
.my-dropdown .btn-basic:hover,
.my-dropdown .btn-basic:focus{
    background-color: #fff;
    color: black;
    border-color: transparent;
}
.plus {
    width: 2rem;
    height: 2rem;
}
.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 20px;
}
.today{
    margin-left: 100px;
}
.chevronleft {
    margin-left: 10px;
}
header .btn:hover {
    background-color: #b7b3b345;
    color: black;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}