.my-dropdown {
    margin-left: auto;
}.dropdown-time {
    margin-left: auto;
}
.my-dropdown .img:hover,
.my-dropdown .img:focus {
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
}
.my-dropdown .btn-basic {
    color: transparent;
    border: none;
}
.my-dropdown .img {
    width: 36px;
    height: 36px;
}

aside .create:hover {
    background-color: #dedcdc65;
    color: rgba(0, 0, 0, 0.758);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
aside .create {
    box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.2);
}
.my-dropdown .btn-basic:hover,
.my-dropdown .btn-basic:focus{
    background-color: #fff;
    color: black;
    border-color: transparent;
}
.plus {
    width: 2rem;
    height: 2rem;
}
.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 20px;
}
.today{
    margin-left: 120px;
}
.chevronleft {
    margin-left: 10px;
}
header .btn:hover {
    background-color: #b7b3b345;
    color: black;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
.close {
    margin-left: auto;
}
.create-calendar header, .event-detail header, .create-event header  {
    background-color: #e8e8e8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.create-calendar, .event-detail, .create-event {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.create-calendar {
    width: 400px;
}
.create-event {
    width: 500px;
}
.event-detail {
    width: 500px;
}
.create-event .input-time {
    width: 200px;
    margin: 5px;
}
.calendar-data {
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.calendar button:hover,
.calendar-data button:hover {
    background-color: #dedcdc65;
    color: black;
}
.all-day-checkbox {
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: -12px;
}
.calendar-lable {
    font-size: 15px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calendar-color {
    border-radius: 30%;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}
.dropdown-calendar {
    background-color: #f5f5f5;
    border-radius: 5px;
}
.edit-event-form {
    overflow-x: hidden;
}
.event-detail-form {
    height: 508px;
    overflow-y: auto;
    overflow-x: hidden;
}
.edit-calendar .title-event-input {
    font-size: 25px;
}
.edit-calendar .title-event-input::placeholder {
    font-size: 25px;
}
.edit-calendar .icons {
    margin-left: 10px;
}
.edit-calendar .cancel-button {
    margin-left: 0px;
    margin-top: 6px;
    padding: 2px 10px 7px;
    font-size: 20px;
}
.edit-calendar .cancel-button:hover {
    color: #575757;
    background-color: #f5f5f5;
}
.button-close-reminder {
    margin-left: 10px;
}
.edit-calendar .reminder-select, 
.edit-calendar .reminder-time {
    border: none;
    background-color: #f5f5f5;  
}
.edit-calendar .reminder-time {
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.edit-calendar .button-close-reminder {
    border-radius: 50%;
    margin-top: 3px;
    padding: 1px 7px 3px;
    color: #8b8b8b;
}
.edit-calendar .button-close-reminder:hover {
    background-color: #f5f5f5;
    color: #3f3f3fd6;
}
.attendee-list-lable {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    font-weight: bold;
}
.event-time {
    margin-top: 2px;
}
.edit-calendar .event-input {
    background-color: #f5f5f5;
    color: #3f3f3f;
}
.edit-calendar .event-input-area {
    background-color: #f5f5f5;
    color: #3f3f3f;
    height: 150px;
}
.edit-calendar .event-input:focus {
    background-color: #f5f5f5;
    border-bottom: #0d6efd;
}
.edit-calendar .calendar-dropdown-toggle {
    color: #3f3f3f;
}
.lable-to {
    margin: 0px 10px 8px 10px;
    font-size: 17px;
}
.calendar-name {
    margin-top: 3px;
}
.submit-event-button {
    margin-top: 18px;
    width: 80px;
}
.event-detail-lable {
    color: #0d6efd;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}
.attendee-lable {
    color: #0d6efd;
    font-weight: bold;
    margin-top: 134px;
    margin-left: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown input {
    width: 300px;
    border: none;
    background-color: #f5f5f5;
}
.user-list {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
    padding-left: 10px;
}
.user-list > div:hover {
    background-color: #f5f5f5;
}  
.attendee-list {
    width: 300px;
    padding-left: 10px;
}
.attendee-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-left: -10px;
}
.attendee-list li:hover {
    background-color: #f5f5f5;
}
.attendee-list li button {
    padding: 1px 6px 3px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}
.attendee-list li button:hover {
    color: #353434;
    background-color: #eeeeee;
}
.add-attendee .attendee-list {
    height: 300px; /* chiều cao mặc định */
    overflow: auto; /* cho phép cuộn */
}
